<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- ng cordova js -->
    <script src="lib/ng-cordova.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>

  <body class="platform-ios platform-cordova platform-webview" ng-app="app" ng-controller="AppCtrl">

    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Ionic Push Notification Sample</h1>
        </ion-header-bar>
        <ion-content padding="true" has-header="true">
            <div class="text-center padding">
                <button ng-disabled="registerDisabled" class="button button-bar-inline button-balanced" ng-click="register()">Register</button>
                <button ng-disabled="!registerDisabled" class="button button-bar-inline button-balanced" ng-click="unregister()">Unregister</button>
            </div>
            <p>Device Token</p>
            <textarea readonly>{{regId}}</textarea>
            <ion-list>
                <ion-item ng-repeat="notification in notifications track by $index" type="item-content">
                    {{notification}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>

  </body>
</html>
